/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 0.3% and not dead
*/

/*======= Fonts =======*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

/*======= Root variables =======*/
:root {
  /* colors */
  --color-main-text: #1a202c;
  --color-bg-primary: #c4c4c4;
  --color-bg-secondary: #f3f3f3;
  --color-bg-image: #999999;

  --color-white: #fff;
}

/*======= Reset styles =======*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*======= Common styles =======*/
/*---------- Button styles ----------*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 15px;
  max-width: 150px;
  min-height: 44px;
  border-radius: 4px;
  background-color: var(--color-white, #fff);
  color: var(--color-main-text, #1a202c);
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.42px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .button:hover,
  .button:focus {
    background-color: var(--color-bg-image, #999999);
  }
}
.button:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

/*---------- Hover styles (underline) ----------*/
@media (any-hover: hover) {
  .u-hover {
    position: relative;
  }
  .u-hover::after {
    content: " ";
    position: absolute;
    display: block;
    margin-top: 3px;
    background-color: var(--color-white, #fff);
    height: 2px;
    width: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: width 0.3s ease;
  }
  .u-hover:hover::after,
  .u-hover:active::after {
    width: 100%;
  }

  .u-hover-dark::after {
    background-color: var(--color-main-text, #1a202c);
  }
}

/*---------- heading-box style ----------*/
.heading-box {
  text-align: center;
}
.heading-box h2 {
  margin-bottom: 18px;
  font-size: clamp(24px, 0.95rem + 2.44vw, 48px);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.96px;
}
.heading-box p {
  margin: 0 auto;
  max-width: 530px;
  min-height: 67px;
  font-size: 18px;
  line-height: 150%;
}

/*---------- image style ----------*/
[class*="-ibg"] {
  position: relative;
  display: block;
  overflow: hidden;
}

[class*="-ibg"] img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*======= Header styles =======*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px;
}

.header__wrapper {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: solid 1px #b8b8b8;
  background-color: var(--color-bg-header, rgba(196, 196, 196, 0));
  transition: background-color 0.3s ease;
}

.header--scrolled .header__wrapper {
  background-color: var(--color-bg-scrolled-header, rgba(196, 196, 196, 0.85));
}

@media (any-hover: hover) {
  .header--scrolled .header__wrapper:hover {
    background-color: var(
      --color-bg-scrolled-header-hover,
      rgba(196, 196, 196, 0.95)
    );
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-column-gap: 36px;
  column-gap: 36px;
  min-height: 100px;
  padding-block: 10px;
  transition: min-height 0.5s ease;
}
.header--scrolled .header__inner {
  min-height: 70px;
}
@media (max-width: 991.98px) {
  .header__inner {
    min-height: 80px;
  }
  .header--scrolled .header__inner {
    min-height: 54px;
  }
  .header--scrolled .header__wrapper {
    background-color: var(
      --color-bg-scrolled-header-hover,
      rgba(196, 196, 196, 0.95)
    );
  }
}

.header__container {
}

.header__logo {
  position: relative;
  z-index: 5;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px 38px;
}
.menu__item {
}
.menu__link {
  color: var(--color-white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  opacity: 0.9;
}
.menu__link--active {
  color: var(--color-main-text, #1a202c);
  font-weight: 600;
  pointer-events: none;
}

.header__actions {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 5px 27px;
}

.header__register {
  position: relative;
  color: var(--color-white, #fff);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.48px;
  text-decoration: underline;
  opacity: 0.8;
}
@media (min-width: 767.98px) {
  .header__register::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -15px;
    width: 1px;
    height: 21px;
    opacity: 0.8;
    background-color: var(--color-white, #fff);
  }
}
.header__login {
  width: 82px;
  min-height: 38px;
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .menu__list {
    gap: 8px 14px;
  }
  .menu__link {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .header__inner {
    -webkit-column-gap: 22px;
    column-gap: 22px;
  }
  .header__logo {
    margin-right: -22px;
  }
  /* Hamburger menu button (is displayed on resolutions less than 768px) */
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    min-width: 30px;
    height: 28px;
    cursor: pointer;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    right: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-white, #fff);
    opacity: 0.8;
    transition: all 0.3s ease;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    width: 85%;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .icon-menu._active span {
    -webkit-transform: translate(500%, -50%);
    transform: translate(500%, -50%);
  }
  .icon-menu._active::before {
    content: "";
    width: 39px;
    -webkit-transform: rotate(45deg) translate(11px, 6px);
    transform: rotate(45deg) translate(11px, 6px);
  }
  .icon-menu._active::after {
    content: "";
    width: 39px;
    -webkit-transform: rotate(-45deg) translate(11px, -6px);
    transform: rotate(-45deg) translate(11px, -6px);
  }

  /* Hamburger menu body */
  .menu__body {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 110px 50px 20px 15px;
    background: linear-gradient(
      to right,
      rgba(196, 196, 196, 0.9) 0%,
      rgba(196, 196, 196, 1) 25%,
      rgba(196, 196, 196, 1) 100%
    );
    transition: right 0.3s ease;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }

  /* Additional background for active scrolled menu - use header’s background colors*/
  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    min-height: 80px;
    top: 0;
    left: 0;
    background-color: rgba(196, 196, 196, 0);
  }
  .menu__body._active::before {
    background-color: rgba(196, 196, 196, 0.95);
    transition: background-color 0.3s ease 0.3s;
  }

  .header--scrolled .menu__body._active::before {
    min-height: 68px;
  }

  .header__container {
    -webkit-column-gap: 25px;
    column-gap: 25px;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2em;
  }

  .menu__link {
    font-size: 1.25rem;
  }
}
@media (max-width: 359.98px) {
  .header__inner {
    -webkit-column-gap: 15px;
    column-gap: 15px;
  }
  .header__actions {
    gap: 5px 15px;
  }
}

/*======= Footer styles =======*/
.footer {
  background-color: var(--color-bg-primary, #c4c4c4);
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer__container {
}
.footer__body {
  padding-bottom: 36px;
  display: grid;
  grid-template-columns: 42.53% 23.095% 23.095% 11.28%;
}
.footer__body-item {
  padding-right: 10px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
  color: inherit;
}
.footer__text {
  margin-bottom: 31px;
  max-width: 292px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.footer__socials {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__socials a {
  transition: opacity 0.3s ease;
}
@media (any-hover: hover) {
  .footer__socials a:hover {
    opacity: 0.5;
  }
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__column {
}
.menu-footer__title {
  margin-bottom: 24px;
  position: relative;
  cursor: initial;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
}
.menu-footer__list {
}
.menu-footer__item {
  padding: 15px 0;
}
.menu-footer__link {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
  color: inherit;
}

.footer__menu._init .menu-footer__title {
  width: 100%;
  text-align: left;
}
.footer__menu._init .menu-footer__title::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 6px;
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 2px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  display: inline-block;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.footer__menu._init .menu-footer__title._active::after {
  top: 12px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.footer__copyright {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(19, 19, 19, 0.16);
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.footer__legal {
  display: flex;
  gap: 60px;
}
.footer__legal-link {
  color: inherit;
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .footer__body {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__body-item:nth-child(1) {
    grid-column: span 3;
  }
  .menu-footer__column,
  .footer__menu._init .menu-footer__title {
    text-align: center;
  }
  .footer__text {
    max-width: 100%;
  }
  .menu-footer__item {
    padding: 10px 0;
  }
  .footer__menu._init .menu-footer__title::after {
    right: auto;
    margin-left: 12px;
  }
  .footer__copyright {
    flex-direction: column-reverse;
    justify-content: initial;
    gap: 40px;
  }
  .footer__legal {
    gap: 150px;
  }
}

@media (max-width: 479.98px) {
  .footer__body {
    grid-template-columns: 1fr;
  }
  .footer__body-item:nth-child(1) {
    grid-column: span 1;
  }
  .menu-footer__column,
  .footer__menu._init .menu-footer__title {
    text-align: left;
  }
  .footer__menu._init .menu-footer__title::after {
    right: 40px;
  }
  .menu-footer__title {
    margin-bottom: 5px;
    margin-top: 20px;
  }
  .footer__legal {
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
}

/*======== Body styles ========*/
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: var(--color-main-text, #1a202c);
}
/* Blocks body scrolling */
.body--lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1342px;
  margin: 0 auto;
  padding-inline: 15px;
}

/*======= Main page styles =======*/
.page__hero {
}
.page__search {
}
.page__how {
}
.page__deals {
}
.page__why {
}
.page__blockad {
}
.page__reviews {
}

/*------------ hero ------------*/
.hero {
  padding-top: 177px;
  background-color: var(--color-bg-primary, #c4c4c4);
}
.hero__inner {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.hero__container {
}
.hero__body {
  text-align: center;
  margin-bottom: 40px;
}
.hero__label {
  margin-bottom: 38px;
  font-size: 14px;
  font-weight: 500;
  line-height: 121.2%;
}
.hero__title {
  margin-bottom: 24px;
  font-size: clamp(24px, 0.996rem + 2.24vw, 46px);
  font-weight: 700;
  line-height: 121.2%;
  text-transform: uppercase;
  text-wrap: balance;
}
.hero__text {
  margin-bottom: 55px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.32px;
  opacity: 0.45;
}
.hero__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.hero__button {
  font-weight: 600;
  letter-spacing: -0.32px;
}
.hero__link {
  font-weight: 600;
  letter-spacing: -0.32px;
  color: inherit;
  white-space: nowrap;
}
.hero__image img {
  width: 100%;
}
@media (min-width: 767.98px) {
  .hero__inner {
    flex-direction: row;
  }
  .hero__content {
    flex: 0 0 100%;
  }
  .hero__body {
    width: 50%;
    padding-right: 15px;
    margin-top: 76px;
    margin-bottom: 120px;
    text-align: left;
  }
  .hero__title {
    text-wrap: wrap;
  }
  .hero__text {
    max-width: 540px;
  }
  .hero__actions {
    justify-content: flex-start;
  }
  .hero__image {
    margin-bottom: -24px;
    flex: 0 0 50%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: relative;
    display: block;
    overflow: hidden;
    aspect-ratio: 720 / 680;
    border-radius: 60px 0 0 0;
  }
  .hero__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (min-width: 1601px) {
  .hero__image {
    aspect-ratio: initial;
    padding-bottom: 35%;
  }
}
@media (min-width: 1921px) {
  .hero__image {
    border-radius: 60px 60px 0 0;
  }
}
@media (max-width: 991.98px) {
  .hero {
    padding-top: 120px;
  }
}

/*------------ search ------------*/
.search {
  padding-top: 145px;
  background-color: #f6f7f9;
}
.search__form {
  margin-top: -205px;
  position: relative;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
  border-radius: 10px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form-search {
}
.form-search__item {
  padding: 24px;
}
.form-search__heading {
  margin-bottom: 16px;
  position: relative;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.form-search__heading::before {
  content: "";
  background-image: url("/images/search/mark.svg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 16px;
  height: 16px;
}
.form-search__selects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.form-search__select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  min-width: 125px;
}
.form-search__select:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 48px;
  background-color: #b8b8b8;
}

.form-search__select select,
.form-search__select input {
  background-color: inherit;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.24px;
  cursor: pointer;
}
.form-search__button {
  justify-self: center;
  align-self: center;
  min-width: 110px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
}
@media (max-width: 991.98px) {
  .form-search__button {
    min-width: auto;
  }
  .form-search__select:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .search__form {
    margin-top: -120px;
    margin-bottom: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
  .form-search__selects {
    justify-content: center;
  }
  .form-search__button {
    max-width: 100%;
    justify-self: stretch;
    margin: 20px;
  }
}
@media (max-width: 479.98px) {
  .form-search__selects {
    font-size: 20px;
  }
  .form-search__select select,
  .form-search__select input {
    font-size: 16px;
  }
}

/*------------ how ------------*/
.how {
  padding-top: 42px;
  padding-bottom: 105px;
}
.how__container {
}
.how__heading {
  margin-bottom: 40px;
}
.how__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.how__item {
}
.item-how {
  max-width: 280px;
  text-align: center;
}
.how__decor {
  margin-inline: -60px;
}
.how__decor img {
  max-width: 100%;
  margin-bottom: 150px;
}
.item-how__icon {
  margin: 0 auto 29px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 106px;
  border-radius: 30px;
  background-color: rgba(184, 184, 184, 0.14);
}
.item-how__icon img {
  max-width: 100%;
  max-height: 100%;
}
.item-how__title {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.48px;
}
.item-how__text {
  font-size: 14px;
  line-height: 175%;
  letter-spacing: -0.28px;
}
@media (max-width: 991.98px) {
  .how {
    padding-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .how__items {
    flex-direction: column;
    gap: 30px;
  }
  .how__decor {
    display: none;
  }
  .item-how__icon {
    margin-bottom: 10px;
  }

  .item-how__title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

/*------------ deals ------------*/
.deals {
  padding-top: 100px;
  padding-bottom: 89px;
  background-color: var(--color-bg-secondary, #f3f3f3);
}
.deals__container {
}
.deals__heading {
  margin-bottom: 50px;
}
.deals__content {
}
.no-all-button-tabs {
}
.tab-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border-bottom: solid 1px #b8b8b8;
  margin-bottom: 48px;
}

.tab-btn {
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.44px;
  opacity: 0.6;
  padding-bottom: 35px;
}
.tab-btn._active {
  font-weight: 600;
  pointer-events: none;
  opacity: 1;
  padding-bottom: 31px;
  border-bottom: 4px solid #1a202c;
}
.tab-body {
  margin-bottom: 65px;
}
.tab-content {
  display: none;
}
.tab-content._active {
  display: block;
}
.deals__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  gap: 32px;
}
.deals__item {
}
.item-deals {
  padding: 24px;
  border-radius: 10px;
  position: relative;
  display: block;
  overflow: hidden;
  aspect-ratio: 304/388;
}

.item-deals__image {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-deals__content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
.item-deals__heading {
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-deals__heading h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
}
.item-deals__favorites {
  display: inline-block;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (any-hover: hover) {
  .item-deals__favorites:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.item-deals__footer {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-deals__price {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}
.item-deals__price span {
  font-size: 14px;
}
.item-deals__button {
  min-width: 116px;
}

.deals__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.deals__button {
  grid-column: 2;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.32px;
}
.deals__number {
  grid-column: 3;
  justify-self: end;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.28px;
}
@media (max-width: 991.98px) {
  .deals {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .tab-btn {
    font-size: 18px;
  }
}

/*------------ why ------------*/
.why {
  padding-top: 100px;
  padding-bottom: 40px;
}
.why__container {
}
.why__heading {
  margin-bottom: 33px;
}
.why__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why__image-ibg {
  flex: 0 1 42.682927%; /* 560/1312 */
  aspect-ratio: 560/528;
}
.why__content {
  max-width: 528px;
}
.why__item {
  display: flex;
  gap: 25px;
}
.why__item:not(:last-child) {
  margin-bottom: 40px;
}
.why__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 52px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--color-bg-primary, #c4c4c4);
}

.why__title {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.44px;
}
.why__text {
  line-height: 175%;
  letter-spacing: -0.32px;
}

@media (max-width: 991.98px) {
  .why {
    padding-top: 50px;
  }
  .why__image-ibg,
  .why__content {
    flex: 0 1 50%;
  }
  .why__content {
    margin-left: 30px;
  }
  .why__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .why__body {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .why__content {
    margin-left: 0;
  }
  .why__image-ibg {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .why__image-ibg {
    width: 100%;
  }
}
@media (max-width: 479.98px) {
  .why__title {
    font-size: 20px;
  }
}

/*------------ blockad ------------*/
.blockad {
  padding-block: 95px;
  background-color: var(--color-bg-secondary, #f3f3f3);
}
.blockad__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.blockad__item-ibg {
  flex: 0 1 50%;
  aspect-ratio: 640/360;
  border-radius: 10px;
}
@media (max-width: 991.98px) {
  .blockad {
    padding-block: 60px;
  }
}
@media (max-width: 767.98px) {
  .blockad__container {
    flex-direction: column;
  }
  .blockad__item-ibg {
    width: 100%;
  }
}

/*------------ reviews ------------*/
.reviews {
  padding-top: 100px;
  padding-bottom: 115px;
}
.reviews__container {
}
.reviews__heading {
  margin: 0 auto 50px;
  max-width: 562px;
}
.reviews__slider {
}
.reviews__slide {
  margin-bottom: 114px;
  padding: 40px;
  border-radius: 10px;
  background-color: var(--color-bg-primary, #c4c4c4);
}
.slide-review {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.slide-review__author {
}
.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.author__about {
  display: flex;
  gap: 15px;
}
.author__about-avatar {
  margin: -7px 0 0 11px;
}
.author__about-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.author__about-name {
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}
.author__about-place {
  font-size: 12px;
  line-height: 116.666667%;
  opacity: 0.6;
}
.author__rating {
  padding-right: 26px;
  font-size: 14px;
  line-height: 1;
}
.slide-review__text {
  color: inherit;
  line-height: 162.5%;
}
@media (any-hover: hover) {
  .author__about-name:hover,
  .slide-review__text:hover {
    text-decoration: underline;
  }
}

.reviews__arrow-prev.swiper-button-prev,
.reviews__arrow-next.swiper-button-next,
.reviews__arrow-prev.swiper-button-prev.swiper-button-disabled,
.reviews__arrow-next.swiper-button-next.swiper-button-disabled {
  top: calc(100% - 28px);
}
.reviews__arrow-prev.swiper-button-prev,
.reviews__arrow-prev.swiper-button-prev.swiper-button-disabled {
  left: auto;
  right: 261px;
}
.reviews__arrow-next.swiper-button-next,
.reviews__arrow-next.swiper-button-next.swiper-button-disabled {
  left: auto;
  right: 181px;
}
.reviews__slider .swiper-button-next::after,
.reviews__slider .swiper-button-prev::after {
  display: none;
}
.reviews__slider .swiper-button-next,
.reviews__slider .swiper-button-prev {
  background: url("../images/reviews/arrow-right.svg") center no-repeat;
}
.reviews__slider .swiper-button-prev {
  -webkit-transform: rotate(180deg) translateY(-1px);
  transform: rotate(180deg) translateY(-1px);
}

.reviews__pagination.swiper-pagination {
  bottom: 18px;
  width: auto;
}
.reviews__pagination.swiper-pagination .swiper-pagination-bullet {
  margin: 0 8px;
}
.reviews__pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.reviews__pagination .swiper-pagination-bullet-active {
  width: 45px;
  border-radius: 8px;
  background-color: #1a202c;
}
@media (max-width: 991.98px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reviews__slide {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .reviews__arrow-prev.swiper-button-prev,
  .reviews__arrow-prev.swiper-button-prev.swiper-button-disabled {
    left: auto;
    right: 80px;
  }
  .reviews__arrow-next.swiper-button-next,
  .reviews__arrow-next.swiper-button-next.swiper-button-disabled {
    left: auto;
    right: 10px;
  }
}

/* --- on-load animation ---- */
.hero__title,
.hero__actions {
  -webkit-transform: translate(3rem, 3rem);
  transform: translate(3rem, 3rem);
  opacity: 0;
  transition: opacity 0.8s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.8s;
  transition: transform 0.8s, opacity 0.8s, -webkit-transform 0.8s;
}

.loaded .hero__title {
  transition-delay: 0.5s;
}

.loaded .hero__actions {
  transition-delay: 0.9s;
}

.loaded .hero__title,
.loaded .hero__actions {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
/* --- END OF on-load animation ---- */
[data-animated] {
  -webkit-transform: translate(2rem, 2rem);
  transform: translate(2rem, 2rem);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 0.3s,
    -webkit-transform 0.7s ease-in-out 0.3s;
  transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s;
  transition: opacity 0.7s ease-in-out 0.3s, transform 0.7s ease-in-out 0.3s,
    -webkit-transform 0.7s ease-in-out 0.3s;
}

[data-animated-01] {
  -webkit-transform: translate(2rem, 2rem);
  transform: translate(2rem, 2rem);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 0.7s,
    -webkit-transform 0.7s ease-in-out 0.7s;
  transition: opacity 0.7s ease-in-out 0.7s, transform 0.7s ease-in-out 0.7s;
  transition: opacity 0.7s ease-in-out 0.7s, transform 0.7s ease-in-out 0.7s,
    -webkit-transform 0.7s ease-in-out 0.7s;
}

[data-animated-02] {
  -webkit-transform: translate(2rem, 2rem);
  transform: translate(2rem, 2rem);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 1.1s,
    -webkit-transform 0.7s ease-in-out 1.1s;
  transition: opacity 0.7s ease-in-out 1.1s, transform 0.7s ease-in-out 1.1s;
  transition: opacity 0.7s ease-in-out 1.1s, transform 0.7s ease-in-out 1.1s,
    -webkit-transform 0.7s ease-in-out 1.1s;
}

[data-animated].active,
[data-animated-01].active,
[data-animated-02].active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
